<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900"></h1>
        <img class=" rounded w-full  mb-6" src="../../assets/images/Salam.png" alt="content">
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-white">Si tu sais lire le Coran mais que tu n’es pas sûr de tes prononciations…
        Que tu vois plein de couleurs dans le mushaf mais tu ne sais pas à quoi cela correspond…
        Ou que tu écoutes les récitateurs psalmodier le Coran mais tu ne sais pas comment ni pourquoi ils le font…
        Si tu veux acquérir cette science bénéfique et propager cette lumière au sein de ta famille et tes proches… </p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div *ngFor="let publication of publications" class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="../../assets/images/logoInstitutTabib1.png" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">{{publication.level}}</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">{{publication.title}}</h2>
          <p class="leading-relaxed text-base">{{publication.content}}</p>
        </div>
      </div>
    </div>
  </div>
</section>