.containerNotificationWithValidationApp
{
    display: flex;
    justify-content: space-around;
}
.containerSearchBarWithNotifications {
    border:2px solid white;
    border-radius: 5px;
    padding: 2% 4% 0% 4%;
}
