<app-navbar></app-navbar>
<main>
    <div class="containerTitrePhraseAndImage">
    <h1 class="titleLandingPage">ENREGISTRER , ECOUTER , PARTAGER SANS LIMITE</h1>
    <h2 class="catchPhrase">Explorez une nouvelle dimension d'échange sonore et laissez votre voix résonner à travers le monde.</h2>

    <div class="divImage"><img src="../../assets/images/headsetWhite.png" alt="livre avec un casque" class="imageLanding"></div>
    </div>
    <div class="containerButton">
        <button class="buttonCommencer">COMMENCER</button>
        <button class="buttonEnSavoirPlus">EN SAVOIR PLUS</button>
    </div>
</main>