<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet"> 
<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>

<!-- Container -->
<main class="content-center rounded-lg flex-grow overflow-hidden">
                    <div class="px-5 lg:py-24 py-5 flex items-center justify-center">
                      <div>
                        <div class="flex mb-10">
                          <button (click)="setFirstStep()"  [ngClass]="{'bg-white text-indigo-500 border-indigo-500': firstStep,'text-white border-white': !firstStep}" class="sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium lg:text-xl text-sm inline-flex items-center leading-none  tracking-wider rounded-t">
                            <i [ngClass]="{'bg-white text-indigo-500': firstStep,'text-white': !firstStep}" class="fa-solid fa-feather lg:fa-xl " ></i> <span class="ml-1">Choix de la sourate</span> 
                          </button>
                          <!--[disabled]="selectedVerseEnd == undefined" a rajouter pour eviter un comportement non désiré-->
                          <button (click)="setSecondStep()"  [ngClass]="{'bg-white text-indigo-500 border-indigo-500': secondStep,'text-white border-white': !secondStep}" class="sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium lg:text-xl text-sm inline-flex items-center leading-none tracking-wider rounded-t">
                            <i [ngClass]="{'bg-white text-indigo-500': secondStep,'text-white': !secondStep}" class="ml-1 fa-solid fa-microphone lg:fa-xl"></i><a class="ml-1">Enregistrement des audios</a> 
                          </button>
                        </div>
                        <!-- Composant de sélection -->
                        <div *ngIf="firstStep" class="flex flex-grow block mb-10 rounded border-2  md:w-full sm:w-full">
                          <div class="relative flex flex-col text-center w-full">
                            <div class="pb-5 pt-10">
                              <label for="chapter" class="block mb-2 text-bg font-medium text-white">Selection de la sourate</label>
                              <div class="relative inline-flex">
                                <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232"><path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#FFF" fill-rule="nonzero"/></svg>
                                <select [(ngModel)]="selectedSourat" (ngModelChange)="onSurahSelect($event)" class="border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none">
                                  <option  *ngFor="let sourate of sourates" value="{{ sourate.id }}">{{sourate.id}} - {{sourate.phonetic}}</option>
                                </select>
                              </div>
                            </div>  
                            <div class="pb-5">
                              <label for="verseStart" class="block mb-2 text-bg font-medium text-white">Verset de départ</label>
                              <div class="relative inline-flex">
                                <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232"><path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#FFF" fill-rule="nonzero"/></svg>
                                <select id="verseStart" [disabled]="selectedSourat == undefined" [(ngModel)]="selectedVerseStart" (ngModelChange)="onVerseSelect($event)" class="border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none">
                                  <option  *ngFor="let verse of listVersesStart" value="{{ verse }}">Verset {{verse}}</option>
                                </select>
                              </div>
                             </div> 
                             <div class="pb-5">
                              <label for="verseEnd" class="block mb-2 text-bg font-medium text-white">Verset de fin</label>
                              <div class="relative inline-flex">
                                <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232"><path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#FFF" fill-rule="nonzero"/></svg>
                                <select id="verseEnd" [disabled]="selectedVerseStart == undefined"  [(ngModel)]="selectedVerseEnd" class="border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none">
                                  <option  *ngFor="let verse of listVersesEnd" value="{{ verse }}">Verset {{verse}}</option>
                                </select>
                              </div>
                             </div>
                             <div class="absolute bottom-3 right-3">
                              <button *ngIf="selectedVerseStart != undefined" (click)="setSecondStep()"  class="flex inline-block justify-center items-center text-white p-6 w-6 rounded-full bg-white shadow-lg">
                                <i class="fa-solid fa-arrow-right fa-xl" style="color: #1760de;"></i>
                              </button>
                             </div>
                          </div>
                        </div>
                        <!-- Composant d'enregistrement -->
                        <div *ngIf="secondStep" class="flex flex-grow grid grid-rows-3 grid-flow-col gap-4 max-h-96 mb-10 rounded border-2 md:w-full sm:w-full">
                            <!--Card 1-->
                            <div class="row-span-2 col-span-2">
                              <img src={{selectedSourateSrc}} loading="lazy" />
                            </div>
                            <div class="row-span-2 col-span-2">
                              <div class="p-4 inset-0 flex flex-col items-center justify-center backdrop backdrop-blur-5 text-white">
                                <h3 class="font-bold">Sourate {{selectedSourateName}}</h3>
                                <span class="opacity-70">Versets de {{selectedVerseStart}} à {{selectedVerseEnd}}</span>
                              </div>
                            </div>
                          <div class="row-span-4 col-span-2 h-max-80 overflow-auto border-l pt-2 pb-2">
                            <div *ngIf="audioList.length != 0" class="flex w-full flex-col items-center justify-center">
                              <div class="max-w-xl bg-green rounded-lg shadow-lg">
                                <ul class="text-xs sm:text-base divide-y border-t border-b cursor-default">
                                  <li *ngFor="let audio of audioList" class="flex items-center space-x-3 pr-2 hover:bg-[#15817cef]">
                                    <button (click)="playAudio(audio.url!)" class="p-3 group focus:outline-none">
                                      <svg class="w-4 h-4 group-hover:text-white" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
                                    </button>
                                    <div class="flex-1">
                                      V.{{audio.numberVerse}}
                                    </div>
                                    <div class="text-xs text-gray-400">
                                      {{audio.duration}}
                                    </div>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="secondStep && selectedVerseEnd! > 0" class="flex flex-col text-center justify-center items-center w-full">
                          <div class="row-span-1 col-span-2">
                            <div class="grid grid-cols-3 gap-2 px-6 pt-4 pb-5">
                              <div class="pb-5">
                                <button (click)="isRecording ? addRecordToRecords() : startRecording()" class="flex inline-block justify-center items-center text-white p-8 w-8 rounded-full bg-white shadow-lg">
                                  <i *ngIf="isRecording" class="fa-solid fa-stop fa-2xl" style="color: #1760de;"></i>
                                  <i *ngIf="!isRecording" class="fa-solid fa-microphone fa-xl" style="color: #1760de;"></i>
                                </button>
                              </div>
                              <div class="pb-5">
                                <button (click)="clearRecordedData()" class="flex inline-block justify-center items-center text-white p-8 w-8 rounded-full bg-white shadow-lg">
                                  <i class="fa-solid fa-arrow-rotate-right fa-xl" style="color: #1760de;"></i>
                                </button>
                              </div>
                              <div class="pb-5">
                                <button [disabled]="audioList.length == 0" (click)="isRecording ? addRecordToRecords() : startRecording()" class="flex inline-block justify-center items-center text-white p-8 w-8 rounded-full bg-white shadow-lg">
                                  <i class="fa-solid fa-paper-plane fa-xl" style="color: #1760de;"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
</main>

