@import url(https://fonts.googleapis.com/css?family=Montserrat);



svg {
    display: block;
    font: 10.5em 'Montserrat';
    margin: 0 auto;

}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 7.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #FFFFFF;
    animation-delay: -1;
}

.text-copy:nth-child(2){
    stroke: #30211a;
    animation-delay: -2s;
}

.text-copy:nth-child(3){
    stroke: #ee4f05;
    animation-delay: -3s;
}

.text-copy:nth-child(4){
    stroke: #e79b0d;
    animation-delay: -4s;
}

.text-copy:nth-child(5){
    stroke: #05f3cb;
    animation-delay: -5s;
}

@keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
}