<div class="card"  [class.shadow-lg]="isConnected">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <div class="flex items-center ml-1 mt-1">
            <img src="assets/images/LogoBarreNavProvisoireBleu.png"  class="mr-2 h-14 w-14" />
            <p class="ml-1 font-medium">TajweedPro</p>
            </div>
        </ng-template>
        <ng-template pTemplate="end" *ngIf="!isConnected">
            <p-button label="S'inscrire" styleClass="p-button-outlined p-button-info py-2 mr-3"></p-button>
            <p-button label="Se connecter" styleClass="p-button-info py-2 mr-2"></p-button>
        </ng-template>
    </p-menubar>
</div>