<div class="h-screen w-full relative flex overflow-hidden">  
    <div class="w-full h-full flex flex-col justify-between">

      <!-- Main -->
      <main class="max-w-full h-full flex relative overflow-y-hidden bg-[url('/assets/images/profilBG.jpg')]">
        <!-- Container -->
        <div class="h-full w-full m-4 flex flex-wrap items-start justify-start rounded-tl grid-flow-col auto-cols-max gap-4">
        
          <div class="bubble bubble-one glassmorphism-effect"></div>
          <div class="bubble bubble-two glassmorphism-effect"></div>
          <div class="bubble bubble-three glassmorphism-effect"></div>
          <div class="bubble bubble-four glassmorphism-effect"></div>
          <div class="container glassmorphism-effect padding-box">
            <section class="glassmorphism-effect padding-box">
              <div class="title">
                <p>Mahdy Mercurio</p>
                <p>Futur Hafidh In Shaa Allah</p>
              </div>
              <div class="goals pb-5">
                <div class="glassmorphism-effect">
                </div>
                <label class="text-white">Statistiques</label>
              </div>
              <div class="goals pb-5">
                <div class="glassmorphism-effect">
                </div>
                <label class="text-white">Objectifs</label>
              </div>
              <div class="goals pb-5">
                <div class="glassmorphism-effect">
                </div>
                <label class="text-white">Réglages</label>
              </div>
            </section>
            <section class="main-content glassmorphism-effect padding-box">
              <div class="title">
                <p>Statistiques</p>
                <p></p>
              </div>
              <div>
                <div>
                  <p>Lundi</p>
                  <div class="card">
                    <div class="glassmorphism-effect">
                    </div>
                    <div class="glassmorphism-effect">
                      <label class="text-white">Audio envoyé !!</label>
                      <label class="text-white">7:00am</label>
                      <label class="text-white">Sourate Al Falaq</label>
                    </div>
                  </div>
                </div>
                <div>
                  <p>Mardi</p>
                  <div class="card margin-bottom-card">
                    <div class="glassmorphism-effect">
                    </div>
                    <div class="glassmorphism-effect">
                      <label class="text-white">Audio envoyé !!</label>
                      <label class="text-white">9:00am</label>
                      <label class="text-white">Sourate Al Ikhlass</label>
                    </div>
                  </div>
                </div>
                <div>
                  <p>Mercredi</p>
                  <div class="card margin-bottom-card">
                    <div class="glassmorphism-effect">
                    </div>
                    <div class="glassmorphism-effect">
                      <label class="text-white">Audio Non Envoyé !! </label>
                      <label class="text-white">Attention à l'assiduité !!</label>
                    </div>
                  </div>
                </div>
                <div>
                  <p>Jeudi</p>
                  <div class="card margin-bottom-card">
                    <div class="glassmorphism-effect">
                    </div>
                    <div class="glassmorphism-effect">
                      <label class="text-white">Audio envoyé !!</label>
                      <label class="text-white">6:00am</label>
                      <label class="text-white">Sourate An Nasr</label>
                    </div>
                  </div>
                </div>
                <div>
                  <p>Vendredi</p>
                  <div class="card">
                    <div class="glassmorphism-effect">
                    </div>
                    <div class="glassmorphism-effect">
                      <label class="text-white">Audio envoyé !!</label>
                      <label class="text-white">11:00am</label>
                      <label class="text-white">Sourate An Insan</label>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </main>
    </div>
  
  </div>