<div class="login-container">
  <img src="../../assets/images/logoInstitutTabib1.png" alt="Logo de l'application" class="imageLogoInstitutTabib" />

  <div class="input-group">
    <input type="text" placeholder="Mail / Numéro de Tel." class="inputConnexion"/>
    <input type="password" placeholder="Mot de passe" class="inputConnexion"/>
  </div>

  <button class="login-button" (click)="onLoginClick()">Se connecter<i class="fa-solid fa-arrow-right fa" style="color: #ffffff;"></i></button>


  <hr/>

  <div class="OtherConnexionContainer">
    <button class="ButtonOtherConnexion"><i class="fa-brands fa-google" style="color: #006492;"></i>Continuer avec Google</button>
    <button class="ButtonOtherConnexion"><i class="fa-brands fa-apple fa-lg" style="color: #006492;"></i>Continuer avec Apple</button>
    <button class="ButtonOtherConnexion"><i class="fa-brands fa-microsoft" style="color: #006492;"></i>Continuer avec Microsoft</button>
  </div>
</div>

