.containerValidations {
   max-height: 457px;
   overflow-y: scroll;
   border-radius: 5px;
   border: 2px solid rgb(225, 225, 225);
}
.containerSourate  {
   max-height: 457px;
   overflow-y: scroll;  
   border-radius: 5px; 
}
