.containerValidation {
    max-height: 560px;
    overflow-y: scroll;
    border-radius: 5px;
    border: 2px solid rgb(225, 225, 225);
 }

@media (max-width:765px){
  .containerValidation   
  {
  max-width: 310px !important;
  overflow-x: scroll !important;
}
}


