<div class="containerTotalNotifications">
    <div class="containerNotification">
        <img src="../../../assets/images/Avatar.png" alt="Coran avec de la lumière" class="imageNotification">
        <div>
            <div class="containerNomNotification">
                <p class="nameStudentAndSourate">Abd ar Rahman abou Zaynab</p><p>&nbsp;&nbsp; . &nbsp;&nbsp;</p><p> 3 voc</p><p>&nbsp;&nbsp; . &nbsp;&nbsp;</p><p class="hourNotification">23h</p>
            </div>
            <div class="containerSourateNotification">
                <p class="nameStudentAndSourate">Al Fatiha</p><p>&nbsp;&nbsp; - &nbsp;&nbsp;</p><p>1&nbsp; à &nbsp;3</p>
            </div>
        </div>
        <i class="pi pi-angle-right IconNotification"></i>
    </div>
    <div class="containerNotification">
        <img src="../../../assets/images/Avatar.png" alt="Coran avec de la lumière" class="imageNotification">
        <div>
            <div class="containerNomNotification">
                <p class="nameStudentAndSourate">Abd ar Rahman al faransi</p><p>&nbsp;&nbsp; . &nbsp;&nbsp;</p><p> 3 voc</p><p>&nbsp;&nbsp; . &nbsp;&nbsp;</p><p class="hourNotification">23h</p>
            </div>
            <div class="containerSourateNotification">
                <p class="nameStudentAndSourate">An Nas</p><p>&nbsp;&nbsp; - &nbsp;&nbsp;</p><p>1&nbsp; à &nbsp;3</p>
            </div>
        </div>
        <i class="pi pi-angle-right IconNotification"></i>
    </div>
    <div class="containerNotification">
        <img src="../../../assets/images/Avatar.png" alt="Coran avec de la lumière" class="imageNotification">
        <div>
            <div class="containerNomNotification">
                <p class="nameStudentAndSourate">Moussa abou abd Allah</p><p>&nbsp;&nbsp; . &nbsp;&nbsp;</p><p> 3 voc</p><p>&nbsp;&nbsp; . &nbsp;&nbsp;</p><p class="hourNotification">23h</p>
            </div>
            <div class="containerSourateNotification">
                <p class="nameStudentAndSourate">Al Fatiha</p><p>&nbsp;&nbsp; - &nbsp;&nbsp;</p><p>1&nbsp; à &nbsp;3</p>
            </div>
        </div>
        <i class="pi pi-angle-right IconNotification"></i>
    </div>
    <div class="containerNotification">
        <img src="../../../assets/images/Avatar.png" alt="Coran avec de la lumière" class="imageNotification">
        <div>
            <div class="containerNomNotification">
                <p class="nameStudentAndSourate">Abd ar Rahim al maghrebi</p><p>&nbsp;&nbsp; . &nbsp;&nbsp;</p><p> 3 voc</p><p>&nbsp;&nbsp; . &nbsp;&nbsp;</p><p class="hourNotification">23h</p>
            </div>
            <div class="containerSourateNotification">
                <p class="nameStudentAndSourate">Al Fatiha</p><p>&nbsp;&nbsp; - &nbsp;&nbsp;</p><p>1&nbsp; à &nbsp;3</p>
            </div>
        </div>
        <i class="pi pi-angle-right IconNotification"></i>
    </div>
    <div class="containerNotification">
        <img src="../../../assets/images/Avatar.png" alt="Coran avec de la lumière" class="imageNotification">
        <div>
            <div class="containerNomNotification">
                <p class="nameStudentAndSourate">Abd ar Rahman abou Zaynab</p><p>&nbsp;&nbsp; . &nbsp;&nbsp;</p><p> 3 voc</p><p>&nbsp;&nbsp; . &nbsp;&nbsp;</p><p class="hourNotification">23h</p>
            </div>
            <div class="containerSourateNotification">
                <p class="nameStudentAndSourate">Al Fatiha</p><p>&nbsp;&nbsp; - &nbsp;&nbsp;</p><p>1&nbsp; à &nbsp;3</p>
            </div>
        </div>
        <i class="pi pi-angle-right IconNotification"></i>
    </div>
    <div class="containerNotification">
        <img src="../../../assets/images/Avatar.png" alt="Coran avec de la lumière" class="imageNotification">
        <div>
            <div class="containerNomNotification">
                <p class="nameStudentAndSourate">Abd ar Rahman abou Zaynab</p><p>&nbsp;&nbsp; . &nbsp;&nbsp;</p><p> 3 voc</p><p>&nbsp;&nbsp; . &nbsp;&nbsp;</p><p class="hourNotification">23h</p>
            </div>
            <div class="containerSourateNotification">
                <p class="nameStudentAndSourate">Al Fatiha</p><p>&nbsp;&nbsp; - &nbsp;&nbsp;</p><p>1&nbsp; à &nbsp;3</p>
            </div>
        </div>
        <i class="pi pi-angle-right IconNotification"></i>
    </div>
</div>
