.IconNotification {
    color:Black;
    padding-right:20px;
    padding-left: 10px;
}
.containerTotalNotifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:9%;  
    max-height: 400px;
    overflow-y: scroll;
    padding-right:10px;
}
.containerNotification {
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    margin-top: 4%;
    
}
.containerNomNotification {
    display: flex;
    flex:1;
    height:30px;
}
.containerSourateNotification {
    height:40px;
    display:flex;
}
.nameStudentAndSourate {
    padding-left:12px;
}
.hourNotification {
    padding-right:10px;
}
.imageNotification {
    padding-left:7px;
}