<div class="containerTotalValidation">

<div class="containerNameDate">
  <div class="containerNameStudent">
    <p class="NameStudent">Abd ar Rahman abou Zaynab</p>
  </div>
  <div class="containerDate">
    <p>Correction du</p>
    <p class="date">&nbsp;1 Janvier 2024</p>
  </div>
</div>




<div class="containerValidations">

  <div class="containerStudentCompleteAudio">

    <div class="containerVocalStudent">
      <div class="containerVocal">
        <p class="titreVocal">Vocal 1</p>
        <progress min="0" max="100" value="70">70%</progress>
        <button class="buttonPauseStudent"><i class="pi pi-pause"></i></button>
      </div>
      <div class="containerButtonValidation">
        <button class="buttonCorrection buttonRefuser">Refuser</button>
        <p>|</p>
        <button class="buttonCorrection">Semi-Valider</button>
        <p>|</p>
        <button class="buttonCorrection">Valider</button>
      </div>
    </div>

    <button class="buttonMicroStudent"><i class="pi pi-microphone"></i></button>
  </div>
  <div class="containerStudentCompleteAudio">
    <div class="containerVocalStudent">
      <div class="containerVocal">
        <p class="titreVocal">Vocal 2</p>
        <progress min="0" max="100" value="70">70%</progress>
        <button class="buttonPauseStudent"><i class="pi pi-pause"></i></button>
      </div>
      <div class="containerButtonValidation">
        <button class="buttonCorrection buttonRefuser">Refuser</button>
        <p>|</p>
        <button class="buttonCorrection">Semi-Valider</button>
        <p>|</p>
        <button class="buttonCorrection">Valider</button>
      </div>
    </div>

    <button class="buttonMicroStudent"><i class="pi pi-microphone"></i></button>
  </div>
  <div class="containerStudentCompleteAudio">
    <div class="containerVocalStudent">
      <div class="containerVocal">
        <p class="titreVocal">Vocal 3</p>
        <progress min="0" max="100" value="70">70%</progress>
        <button class="buttonPlayStudent"><i class="pi pi-caret-right"></i></button>
      </div>
      <div class="containerButtonValidation">
        <button class="buttonCorrection buttonRefuser">Refuser</button>
        <p>|</p>
        <button class="buttonCorrection">Semi-Valider</button>
        <p>|</p>
        <button class="buttonCorrection">Valider</button>
      </div>
    </div>

    <button class="buttonMicroStudent"><i class="pi pi-microphone"></i></button>
  </div>
  <div class="containerTeacherCompleteAudio">
    <div class="containerVocalTeacher">
      <div class="containerVocal">
        <p class="titreVocalTeacher">Vocal 3</p>
        <progress min="0" max="100" value="70">70%</progress>
        <button class="buttonPlayTeacher"><i class="pi pi-caret-right"></i></button>
      </div>
      <div class="containerButtonValidation">
        <button class="buttonCorrection buttonRefuser teacherButton"></button>
        <p>|</p>
        <button class="buttonCorrection teacherButton">Supprimer</button>
        <p>|</p>
        <button class="buttonCorrection teacherButton"></button>
      </div>
    </div>

    <button class="buttonMicroTeacher"><i class="pi pi-microphone"></i></button>
  </div>
  <div class="containerTeacherCompleteAudio">
    <div class="containerVocalTeacher">
      <div class="containerVocal">
        <p class="titreVocalTeacher">Vocal 3</p>
        <progress min="0" max="100" value="70">70%</progress>
        <button class="buttonPlayTeacher"><i class="pi pi-caret-right"></i></button>
      </div>
      <div class="containerButtonValidation">
        <button class="buttonCorrection buttonRefuser teacherButton"></button>
        <p>|</p>
        <button class="buttonCorrection teacherButton">Supprimer</button>
        <p>|</p>
        <button class="buttonCorrection teacherButton"></button>
      </div>
    </div>

    <button class="buttonMicroTeacher"><i class="pi pi-microphone"></i></button>
  </div>
  <div class="containerTeacherCompleteAudio">
    <div class="containerVocalTeacher">
      <div class="containerVocal">
        <p class="titreVocalTeacher">Vocal 3</p>
        <progress min="0" max="100" value="70">70%</progress>
        <button class="buttonPlayTeacher"><i class="pi pi-caret-right"></i></button>
      </div>
      <div class="containerButtonValidation">
        <button class="buttonCorrection buttonRefuser teacherButton"></button>
        <p>|</p>
        <button class="buttonCorrection teacherButton">Supprimer</button>
        <p>|</p>
        <button class="buttonCorrection teacherButton"></button>
      </div>
    </div>

    <button class="buttonMicroTeacher"><i class="pi pi-microphone"></i></button>
  </div>
</div>
</div>