<app-navbar></app-navbar> 
<div class="containerNotificationWithValidationApp">
<div class="containerSearchBarWithNotificationsBorderBlack">
    <div style="margin-bottom: 20px; display: flex; justify-content: center">
        <p-autoComplete
          [(ngModel)]="selectedStudent"
          [dropdown]="true"
          [suggestions]="filteredStudents!"
          (completeMethod)="filterStudents($event)"
          field="name"
        ></p-autoComplete>
      </div>
      <div class="containerNotification">
        <img
          src="../../assets/images/Avatar.png"
          alt="Coran avec de la lumière"
          class="imageNotification"
        />
        <div>
          <div class="containerNomNotification">
            <p class="nameStudentAndSourate">Abd ar Rahman abou Zaynab</p>
            <p style="color: white;">&nbsp;&nbsp; . &nbsp;&nbsp;</p>
            <p style="color: white;">3 voc</p>
            <p style="color: white;">&nbsp;&nbsp; . &nbsp;&nbsp;</p>
            <p class="hourNotification">23h</p>
          </div>
          <div class="containerSourateNotification">
            <p class="nameStudentAndSourate">Al Fatiha</p>
            <p style="color: white;">&nbsp;&nbsp; - &nbsp;&nbsp;</p>
            <p style="color: white;">1&nbsp; à &nbsp;3</p>
          </div>
        </div>
        <i class="pi pi-angle-right IconNotificationViewValidation"></i>
      </div>
      <div class="containerNotification">
          <img
            src="../../assets/images/Avatar.png"
            alt="Coran avec de la lumière"
            class="imageNotification"
          />
          <div>
            <div class="containerNomNotification">
              <p class="nameStudentAndSourate">Abd ar Rahman abou Zaynab</p>
              <p style="color: white;">&nbsp;&nbsp; . &nbsp;&nbsp;</p>
              <p style="color: white;">3 voc</p>
              <p style="color: white;">&nbsp;&nbsp; . &nbsp;&nbsp;</p>
              <p class="hourNotification">23h</p>
            </div>
            <div class="containerSourateNotification">
              <p class="nameStudentAndSourate">Al Fatiha</p>
              <p style="color: white;">&nbsp;&nbsp; - &nbsp;&nbsp;</p>
              <p style="color: white;">1&nbsp; à &nbsp;3</p>
            </div>
          </div>
          <i class="pi pi-angle-right IconNotificationViewValidation"></i>
        </div>
        <div class="containerNotification">
          <img
            src="../../assets/images/Avatar.png"
            alt="Coran avec de la lumière"
            class="imageNotification"
          />
          <div>
            <div class="containerNomNotification">
              <p class="nameStudentAndSourate">Abd ar Rahman abou Zaynab</p>
              <p style="color: white;">&nbsp;&nbsp; . &nbsp;&nbsp;</p>
              <p style="color: white;">3 voc</p>
              <p style="color: white;">&nbsp;&nbsp; . &nbsp;&nbsp;</p>
              <p class="hourNotification">23h</p>
            </div>
            <div class="containerSourateNotification">
              <p class="nameStudentAndSourate">Al Fatiha</p>
              <p style="color: white;">&nbsp;&nbsp; - &nbsp;&nbsp;</p>
              <p style="color: white;">1&nbsp; à &nbsp;3</p>
            </div>
          </div>
          <i class="pi pi-angle-right IconNotificationViewValidation"></i>
        </div>
        <div class="containerNotification">
          <img
            src="../../assets/images/Avatar.png"
            alt="Coran avec de la lumière"
            class="imageNotification"
          />
          <div>
            <div class="containerNomNotification">
              <p class="nameStudentAndSourate">Abd ar Rahman abou Zaynab</p>
              <p style="color: white;">&nbsp;&nbsp; . &nbsp;&nbsp;</p>
              <p style="color: white;">3 voc</p>
              <p style="color: white;">&nbsp;&nbsp; . &nbsp;&nbsp;</p>
              <p class="hourNotification">23h</p>
            </div>
            <div class="containerSourateNotification">
              <p class="nameStudentAndSourate">Al Fatiha</p>
              <p style="color: white;">&nbsp;&nbsp; - &nbsp;&nbsp;</p>
              <p style="color: white;">1&nbsp; à &nbsp;3</p>
            </div>
          </div>
          <i class="pi pi-angle-right IconNotificationViewValidation"></i>
        </div>
        <div class="containerNotification">
          <img
            src="../../assets/images/Avatar.png"
            alt="Coran avec de la lumière"
            class="imageNotification"
          />
          <div>
            <div class="containerNomNotification">
              <p class="nameStudentAndSourate">Abd ar Rahman abou Zaynab</p>
              <p style="color: white;">&nbsp;&nbsp; . &nbsp;&nbsp;</p>
              <p style="color: white;">3 voc</p>
              <p style="color: white;">&nbsp;&nbsp; . &nbsp;&nbsp;</p>
              <p class="hourNotification">23h</p>
            </div>
            <div class="containerSourateNotification">
              <p class="nameStudentAndSourate">Al Fatiha</p>
              <p style="color: white;">&nbsp;&nbsp; - &nbsp;&nbsp;</p>
              <p style="color: white;">1&nbsp; à &nbsp;3</p>
            </div>
          </div>
          <i class="pi pi-angle-right IconNotificationViewValidation"></i>
        </div>
        <div class="containerNotification">
          <img
            src="../../assets/images/Avatar.png"
            alt="Coran avec de la lumière"
            class="imageNotification"
          />
          <div>
            <div class="containerNomNotification">
              <p class="nameStudentAndSourate">Abd ar Rahman abou Zaynab</p>
              <p style="color: white;">&nbsp;&nbsp; . &nbsp;&nbsp;</p>
              <p style="color: white;">3 voc</p>
              <p style="color: white;">&nbsp;&nbsp; . &nbsp;&nbsp;</p>
              <p class="hourNotification">23h</p>
            </div>
            <div class="containerSourateNotification">
              <p class="nameStudentAndSourate">Al Fatiha</p>
              <p style="color: white;">&nbsp;&nbsp; - &nbsp;&nbsp;</p>
              <p style="color: white;">1&nbsp; à &nbsp;3</p>
            </div>
          </div>
          <i class="pi pi-angle-right IconNotificationViewValidation"></i>
        </div>    
</div>
<app-validation></app-validation>
</div>



