<div class="flex justify-center pt-5">
<p-autoComplete [(ngModel)]="selectedStudent" 
                [dropdown]="true" 
                [suggestions]="filteredStudents" 
                field="username" 
                (onSelect)="onStudentSelected($event)"
                (completeMethod)="filterName($event)"
                class="border-white border rounded-md">
</p-autoComplete>
</div>


<div class="containerTotalPage pt-5 flex md:flex-row flex-col items-center">

   <div class="containerAssiduite md:w-6/12 flex-row items-center md:mt-0 mt-3 justify-center w-full">

    <p class="text-center text-xl">Assiduité</p>
    <div class="card pt-5">
      <p-chart type="line" [data]="data" [options]="options"></p-chart>
  </div>
   </div>
   <div class="containerMemorisation w-6/12 flex-row items-center md:mt-0  mt-8">
   <p class="text-center text-xl">Mémorisation</p>
   <div class="flex justify-center items-center py-14">
    <app-donut></app-donut>
  </div>
  
   </div>

</div>
